body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #fcfcfc;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  #palavra-oculta {
    font-size: 2rem;
    letter-spacing: 10px;
    margin-bottom: 10px;
  }
  
  #letras-usadas {
    margin: 10px 0;
    color: #777;
  }
  
  input {
    font-size: 1rem;
    padding: 5px;
    width: 40px;
    text-align: center;
  }
  
  button {
    padding: 5px 10px;
    margin-left: 10px;
  }
  
  #resultado-forca {
    margin-top: 15px;
    font-weight: bold;
  }
  