/* Resetando margens e preenchimento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais da página */
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}

/* Estilos do container */
.container {
    text-align: center;
}

/* Estilo dos botões */
button {
    padding: 15px 30px;
    font-size: 16px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    opacity: 0.8;
}

/* Cor do botão azul */
#btn-azul {
    background-color: blue;
    color: white;
}

/* Cor do botão verde */
#btn-verde {
    background-color: green;
    color: white;
}

/* Estilo do botão para alternar */
#btn-alternar {
    background-color: #f0a500;
    color: white;
}

/* Estilo do botão para iniciar o loop */
#btn-loop {
    background-color: #4CAF50;
    color: white;
}
